body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 80%;
  margin: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.employ{
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(3, 250px);
  width: fit-content;
  margin: auto;
}
.employee{
  border: 1px solid black;
  border-radius: 10px;
  width: 250px;
  cursor: pointer;
  margin: auto;
}
.employeeactive { 
  border: 3px solid black;
  border-radius: 10px;
  width: 250px;
  cursor: pointer;
  margin: auto;
}
